/* Variable */
$container-width: 990; /* Content width + 30px margin */
$navbar-height: 120;
$navbar-height-small: 50;


/* Variable */
$navbar-color: #fff;
$navbar-link-color: #888;
$navbar-link-hover-color: #333;