#about h2 {
   color: #16a085;
}

.tick-box .icon-ok:before {
    color: #89C01B;
}
.tick-box {
    margin: 0 0 20px;
    padding: 0;
}
.tick-box li {
	list-style: none;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2rem;
}