
.logo-box .site-title {
  font-weight: 600;
  text-transform: uppercase;
  }
  .logo-box .slogan { display: none; }


@media (min-width:992px) {
  .navbar-nav > li > a  {
    border-radius: 5px;
    padding: 8px 12px;
  }
/* /End */
}


.section-block {
  padding: 60px 0;
  border-top: 2px dashed;
  }


.site-title::before {
  content: "\f0c9";
  display: inline-block;
  font-family: "FontAwesome";
  margin-right: 10px;
  }


.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  border-bottom: 7px solid #ddd;
  border-radius: 0;
  display: inline;
  }


 .jumbotron {
  margin-bottom: 0;
  }


.section-block .page-header,
.section-block .page-header h2 {
  margin-top: 0;
  border-bottom: none;
}


.site-footer {
  padding: 60px 0;
  border-top: 2px dashed;
  }
  .site-footer hr { display: none; }
  .site-footer { padding: 40px 0 60px; }


.section-block .lead { color: #999; }


.jumbotron {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #333;
  background-image:url(../img/banner-main.jpg) no-repeat;
  background-position: center bottom;
  padding: 200px 0;


  h1, h2, h3, .lead { color: #fff; text-shadow: 0 2px 3px rgba(0, 0, 0, 1); }
  }







