 .jumbotron {
  margin-bottom: 0;
 }

 .section-block {
  padding: 60px 0;
  border-top: 2px dashed;
 }

.section-block .page-header,
.section-block .page-header h2 {
  margin-top: 0;
  border-bottom: none;
}


.site-footer {
  padding: 60px 0;
  border-top: 2px dashed;
 }
.site-footer hr { display: none; }
.site-footer {
  padding: 40px 0 60px;
}


.section-block .lead { color: #999; }


.jumbotron {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #333;
  background-image:url(../img/banner-main.jpg);
  background-position: center bottom;
  padding: 200px 0;


  h1, h2, h3, .lead { color: #fff; text-shadow: 0 2px 3px rgba(0, 0, 0, 1); }
  }
.jumbotron .lead { font-weight: 300; }








/* ***************************************** */



/* Partners */
#partners {
  background: #f0f0f0;
  padding: 40px 0 60px;
  }
  .partner-list {
    text-align: center;
    margin: 0;
    padding-left: 0;
      }
      .partner-list li {
        display: inline-block;
        margin: 24px;
        }
        .partner-list li img {
          max-width: 100px;
          }



/* Team section */
#team {
  background: #f0f0f0;
  padding: 40px 0 60px;
  }
  .team-list .thumbnail {
    border-radius: 50%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    padding: 0;
    border: 0;
    }



/* Popover */
.popover {
    max-width: 90%;
}

/* Tooltip */
.tooltip {
  font-size: 0.94rem;
  line-height: 1.25rem;
  }
  .tooltip-inner { /* space inside tooltip */
    max-width: 200px;
    padding: 8px 12px;
    border-radius: 0px;
    }