#footer { 
	background-color: #34495E; 
	color: #ECF0F1; 
	padding: 30px 0 40px;
	}

#footer a,
#footer a:active {
	color: #ECF0F1;
	opacity: 1;
	}	
	#footer a:hover {
		opacity: 0.8;
		}

.footer-menu { width: 80% !important; }

.footer-menu-box {
	text-transform: uppercase;
}

.footer-note {
    border-top: 1px solid;
    color: #BDC3C7;
    font-size: 0.88rem;
    margin-top: 12px;
    padding: 16px 0;
}	
	
	
	
/* License box */
.footer-menu-box .popover {
    width: 400px;
}

.footer-menu-box .popover-title {
	color: #666;
}
.footer-menu-box .popover-content {
    font-size: 0.63rem;
    line-height: 1rem;
    color: #666;
}	


/* SNS Links */
.sns-icons { 
	width: 20%; 
	float: left; 
	}
    .sns-icons-box { 
        float: right; 
        margin-top: 0px; 
        }
        .sns-icons-box li {
            display: inline-block;
            line-height: 20px;
            list-style: none outside none;
            padding: 0 0 0 10px;
            }
            .sns-icons-box li a {
                color: #fff;
                font-size: 1.5rem;
                }
				.sns-icons-box li:hover {
                	@include transform(scale(1.2));
					}

/* Copyright */
.copyright-box {
    line-height: 1rem;
    }
    .copyright {
    	float: left;
    	margin: 14px 0;
        }

/* Production */
.maker {
    border-left: 1px solid #ccc;
    line-height: 1;
    float: left;
    padding-left: 6px;
    width: 200px;
    margin: 14px 0 0 6px;
    }




/* Back to top */
@media (min-width: 768px){	
	.sns-icons { float: right; }	
	.copyright-box { float: left; }
	.back-top { float: right; padding: 10px 0 0 0; }	
	}

@media (max-width: 767px){	  

        .footer-menu {
	        display: inline-block;
	        margin: auto;
	        text-align: center;
	        width: 100% !important;
		    }
		    .footer-menu-box li {
		    display: block !important;
		    margin: 14px 0;
		    }
		    .footer-menu-box li a { 
	        margin-right: 0px !important; 
	        }	
		
		
	.sns-icons {
	    display: inline-block;
	    float: none !important;
	    margin: 20px auto;
	    text-align: center;
	    width: 100% !important;
		}
		.sns-icons-box {
		    float: none !important;
		    margin: 0;
		    }
			.sns-icons-box li {
	    	width: auto;
			}

	
	.copyright {
	    display: inline-block;
	    float: none !important;
	    margin: 14px auto !important;
	    text-align: center;
	    width: 100%;
		}	
		.maker {
			display: inline-block;
		    border-left: 0 none !important;
		    float: none !important;
		    margin: 0 !important;
		    padding-left: 0 !important;
		    width: 100% !important;
		    text-align: center;
			}
		
	
	.back-top {
	    float: none !important;
	    margin: 40px 0 0 !important;
	    text-align: center !important;
	    width: 100% !important;
		}
		.back-top a {
		    background: none repeat scroll 0 0 #999999;
		    border: 4px solid #FFFFFF;
		    border-radius: 0px;
		    color: #FFFFFF !important;
		    padding: 10px 20px;
		    box-shadow: 0 1px 2px #BBBBBB;
			}
	}
	
