/* Site Footer */
.site-footer {
  margin-bottom: 80px;
  }


/* Footer menu */
.footer-nav {
  display: inline-block;
  width: 100%;
  }
  .footer-menu {
    float: left;
    }
    .sns-icons {
      float: right;
      }
      .sns-icons li a span {
        display: none;
        }


/* Copyright info */
.site-footer .copyright,
.site-footer .maker {
  display: inline-block;
  }
  .site-footer .maker {
    border-left: 1px solid #ccc;
    margin-left: 5px;
    padding-left: 10px;
    }


/* Scroll to top */
.back-top { float: right; }


/* Responsive */
@media (max-width: 767px) {

  .site-footer .footer-menu,
  .site-footer .sns-icons,
  .site-footer .copyright,
  .site-footer .maker,
  .site-footer .footer-note,
  .back-top {
    width: 100%;
    text-align: center;
    }
    .site-footer .footer-menu li {
      display: block;
      margin: 14px 0;
      padding: 0;
      }

  .site-footer .maker {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
    }

  .back-top a {
    display: inline-block;
    border: 1px solid;
    margin-top: 20px;
    padding: 10px 20px;
    }

}
