@charset "utf-8";
html {
  font-size: 100%;
  -webkit-font-smoothing: subpixel-antialiased; /* Safari font AA fix */
  }


/* Link */
a, a:focus {
	text-decoration: none;
	cursor: pointer;
	}
	a:hover {
		text-decoration: none;
		}


/* Remove Firefox selection dot */
a, a:focus, a:active, a:hover, object, embed, :focus { outline: none !important; }
:-moz-any-link:focus { outline: none; }
input::-moz-focus-inner { border: 0; }


/* Remove Firefox Dropdown selection dot */
select:-moz-focusring { color: transparent; text-shadow: 0 0 0 #000; }


/* Image */
a img { border: none; }
img { max-width: 100%; height:auto; -ms-interpolation-mode: bicubic; } /* max-width:100% causes IE8 bug */
.img-responsive { width: 100%; }


/* SELECTED TEXT */
::selection { background: #ff5e99; color: #FFFFFF; }
::-moz-selection { background: #ff5e99; color: #FFFFFF; }


/* Position */
.align-left { float: left !important; }
.align-right { float: right !important; }
.text-left { text-align: left !important; }
.text-right { text-align: right !important; }
.text-center, .text-centre { text-align: center !important; }
.first-child, .fisrt-item { margin-left: 0 !important; }
.last-child, .last-item { margin-right: 0 !important; }
.full-width { width: 100%; }
.highlight { background: #ff0; }
.hide { display: none !important; }


/* Wordwrap */
div { word-wrap: break-word; }


/* clearfloat */
.clear, .clearfloat {
	clear: both;
	font-size: 1px;
	height: 1px;
	line-height: 0;
	}


/* Grid Test Colors for Bootstrap 3 */
.show-grid .col {
  background-color: #fff;
  border: 1px solid #ddd;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  }
  .show-grid .col p {
    background: #eee;
    margin: auto;
    }


/* Col vertical spacing in Tablet view */
@media (max-width: 767px) {
  .content [class*="col"] {
    margin-bottom: 15px;
    }
}
