/* Partners */   
#partners {
	background: #f0f0f0;
	padding: 40px 0 60px;
}

.partner-list { 
    text-align: center; 
    margin: 0;
	padding-left: 0;
    }
    .partner-list li { 
        display: inline-block; 
        margin: 24px; 
        }
        .partner-list li img {
            width: 120px;    
            }