#contact {
  background: #e8c994;
  padding: 40px 0 60px;
}

.contact-box {
    background: #e9e3d8;
    border: 2px dashed #888888;
    margin: 20px 0;
    padding: 28px;
}

#contact label {
    display: block;
}

#contact-form textarea {
     width: 100%;
}

#contact-form ul {
  padding: 20px;
}

#contact-form li {
     list-style: none outside none;
   margin: 18px 0;
}

#contact-form input,
#contact-form textarea {
    padding: 4px 8px;
}

