#services {
	background: #475869;
	padding: 30px 0;
}

#services h2 { color: #ECF0F1; }
#services h3 { color: #34495E; text-align: center; }


#services .service-box {
	background: #ecf0f1;
	margin: 40px 0;
	border-bottom: 8px solid #7f8c8d;
	border-radius: 12px 12px 12px 12px;
	}
	#services .service-box img {
		margin-top: 24px;
		}	
	#services .service-box-text {
		padding: 20px;
		font-size: 1rem;
		}





