/* @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,700,800); */
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911);

body {
	color: #7f8c8d;
	font-family: 'Montserrat', "Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 1.5;
	font-size: 1.13rem;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Montserrat', "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h2 { font-size: 2.5rem; }


.byline { color: #BDC3C7; }

.goudy { font-family: 'Goudy Bookletter 1911', serif; }