<form id="form1" name="form1" class="form-horizontal" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="{{site.formLink}}" role="form">

  <h3>Contact Us</h3>


  <div id="foli5" class="form-group">
    <label id="title5" for="Field5" class="col-sm-2 control-label">Name<span id="req_5" class="req">*</span></label>

    <div class="col-sm-10 form-inline">
      <input id="Field5" name="Field5" type="text" class="form-control" placeholder="First Name" required />
      <input id="Field6" name="Field6" type="text" class="form-control" placeholder="Last Name"  required />
    </div>
  </div>


  <div id="foli7" class="form-group">
    <label id="title7" for="Field7" class="col-sm-2 control-label">Email<span id="req_7" class="req">*</span></label>

    <div class="col-sm-10">
      <input id="Field7" name="Field7" type="email" class="form-control" placeholder="johndoe@gmail.com" spellcheck="false" value="" maxlength="255" tabindex="3" required />
    </div>
  </div>


  <div id="foli4" class="form-group">
    <label id="title4" for="Field4" class="col-sm-2 control-label">Subject</label>

    <div class="col-sm-10">
      <input id="Field4" name="Field4" type="text" class="form-control" value="" maxlength="255" tabindex="4" onkeyup="" />
    </div>
  </div>


  <!-- Textbox -->
  <div id="foli8" class="form-group">
    <label id="title8" for="Field8" class="col-sm-2 control-label">Message</label>

    <div class="col-sm-10">
      <textarea id="Field8" name="Field8" class="textarea medium form-control" spellcheck="true" rows="10" cols="50" tabindex="5" onkeyup="" ></textarea>
    </div>
  </div>


  <!-- Button -->
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input id="saveForm" name="saveForm" class="btn btn-large btn-primary submit" type="submit" value="Submit »" />
    </div>
  </div>


  <div class="hide">
    <label for="comment">Do Not Fill This Out</label>
      <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
    <input type="hidden" id="idstamp" name="idstamp" value="{{site.formID}}" />
  </div>


</form>
