		<footer id="footer">
			<section class="container">

				<!-- Footer menu -->
				<div class="footer-menu-box">

					<ul class="footer-menu list-inline">
						<li><a href="https://github.com/redfrost/Stacks">Download</a></li>
						<li><a onmouseover="this.style.cursor='pointer'"  data-toggle="popover" data-placement="top" title="Copyright &copy; 2013 Redfrost" data-content="Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the “Software”), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

						The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

						THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.">License</a></li>

						<li><a href="index.html">Main</a></li>
						<li><a href="index-carousel.html">Carousel</a></li>
						<li><a href="1.4/index.html">Bootstrap2</a></li>
						<li><a onmouseover="this.style.cursor='pointer'" data-toggle="tooltip" data-placement="top" title="{{site.versionInfo}}">Version</a></li>
					</ul>


					<!-- SNS Links -->
					<ul class="sns-icons">{% if site.snsLink.link1 == empty %}{% else %}
						<li><a class="sns-link01" href="{{site.snsLink.link1}}"><i class="fa fa-facebook"></i></a></li>{% endif %}{% if site.snsLink.link2 == empty %}{% else %}
						<li><a class="sns-link02" href="{{site.snsLink.link2}}"><i class="fa fa-twitter"></i></a></li>{% endif %}{% if site.snsLink.link3 == empty %}{% else %}
						<li><a class="sns-link03" href="{{site.snsLink.link3}}"><i class="fa fa-google-plus"></i></a></li>{% endif %}{% if site.snsLink.link4 == empty %}{% else %}
						<li><a class="sns-link04" href="{{site.snsLink.link4}}"><i class="fa fa-youtube-play"></i></a></li>{% endif %}{% if site.snsLink.link5 == empty %}{% else %}
						<li><a class="sns-link05" href="{{site.snsLink.link5}}"><i class="fa fa-linkedin"></i></a></li>{% endif %}
					</ul>

				</div><!-- /.footer-menu-box-->


				<div class="footer-note pull-left">{{site.footerNote}}</div>


				<div class="copyright-box">
					<p class="copyright">&copy; {{site.time | date:"%Y"}} {{site.copyright}}</p>
					<p class="maker"><a href="{{site.designerURL}}">{{site.designer}}</a></p>
				</div>

				<p class="back-top"><a href="#top"><i class="fa fa-chevron-up"></i> Back To Top</a></p>

			</section>

		</footer><!-- /#footer -->

</div><!-- /#master-wrap -->


		<!-- Preloader -->
		{% if site.preloader == 'yes' %}
		<div style="width:200px" class="progress progress-striped active" id="preloader"><div style="width: 100%;" class="bar">LOADING</div></div>
		{% else %}{% endif %}



		<div class="bg"></div><!-- BG for iPad -->


	<!-- Modal Popup - Insert your code -->


		<!-- Scripts -->
		<script src="assets/js/jquery.js"></script>
		<script src="assets/js/script.js"></script>
		<script src="assets/js/custom.js"></script>


		<!-- Plugins -->
		<script type="text/javascript" src="assets/plugin/plugins.js"></script>
		<script type="text/javascript" src="assets/plugin/wufoo.js"></script><!-- Form control -->
		<script type="text/javascript" src="assets/plugin/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
		<script type="text/javascript" src="assets/plugin/fancybox/jquery.fancybox-1.3.4.pack.js"></script>


		<!-- IE Warning -->
		<!--[if lt IE 9]><div class="alert">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</div><![endif]-->


		<!-- Tracking code -->
		<script>
			var _gaq=[['_setAccount','{{site.trackingId}}'],['_trackPageview']];
			(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
			g.src='//www.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g,s)}(document,'script'));
		</script>

	</body>
</html>
