
    <footer id="footer" class="site-footer">
      <hr class="divider">
      <div class="container">


        <!-- Footer menu -->
        <div class="footer-nav">


          <ul class="footer-menu list-inline">
            <li><a href="index.html">Home</a></li>
            <li><a href="index-carousel-caption.html">Carousel Caption</a></li>
            <li><a href="index-carousel.html">Carousel</a></li>
            <li><a href="style-grid.html">Grid</a></li>
            <li><a href="style-test.html">Styles</a></li>
            <li><a href="http://termsfeed.com/terms-conditions/generator/">Terms</a></li>
            <li><a href="https://www.freeprivacypolicy.com">Privacy</a></li>
            <li><a onmouseover="this.style.cursor='pointer'" data-toggle="popover" data-placement="top" title="Nullam Condimentum" data-content="Lorem ipsum dolor sit amet">License</a></li><!-- Popover demo -->
            <li><a onmouseover="this.style.cursor='pointer'" data-toggle="tooltip" data-placement="top" title="{{site.version}}">Version</a></li><!-- Tooltip demo -->
            <li><a href="https://github.com/redfrost/rfbp">Download</a></li>
          </ul>


          <!-- SNS Links -->
          <ul class="sns-icons list-inline">
            {% if site.snsLink.facebook == empty %}{% else %}<li><a class="sns-facebook" href="{{site.snsLink.facebook}}"><i class="fa fa-facebook"></i> <span>Facebook</span></a></li>{% endif %}
            {% if site.snsLink.twitter == empty %}{% else %}<li><a class="sns-twitter" href="{{site.snsLink.twitter}}"><i class="fa fa-twitter"></i> <span>Twitter</span></a></li>{% endif %}
            {% if site.snsLink.tumblr == empty %}{% else %}<li><a class="sns-tumblr" href="{{site.snsLink.tumblr}}"><i class="fa fa-tumblr"></i> <span>Tumblr</span></a></li>{% endif %}
            {% if site.snsLink.googleplus == empty %}{% else %}<li><a class="sns-google" href="{{site.snsLink.googleplus}}"><i class="fa fa-google-plus"></i>  <span>Google+</span></a></li>{% endif %}
            {% if site.snsLink.instagram == empty %}{% else %}<li><a class="sns-instagram" href="{{site.snsLink.instagram}}"><i class="fa fa-instagram"></i> <span>Instagram</span></a></li>{% endif %}
            {% if site.snsLink.youtube == empty %}{% else %}<li><a class="sns-youtube" href="{{site.snsLink.youtube}}"><i class="fa fa-youtube-play"></i> <span>Media</span></a></li>{% endif %}
            {% if site.snsLink.github == empty %}{% else %}<li><a class="sns-github" href="{{site.snsLink.github}}"><i class="fa fa-github"></i> <span>Github</span></a></li>{% endif %}
            {% if site.snsLink.love == empty %}{% else %}<li><a class="sns-love" href="{{site.snsLink.love}}"><i class="fa fa-heart-o"></i> <span>User link</span></a></li>{% endif %}
          </ul>


        </div><!-- /.footer-nav-->


        <div class="footer-note"><p class="legal">{{site.footerNote}}</p></div>
        <div class="copyright">&copy; {{site.time | date:"%Y"}} {{site.copyright}}</div>
        <div class="maker"><span>Designed &amp; developed by</span> <a href="{{site.designerURL}}">{{site.designer}}</a></div>
        <div class="back-top"><a href="#top"><i class="fa fa-chevron-up"></i> <span>Back to top</span></a></div>


      </div><!-- /.container -->
    </footer><!-- /#footer -->