        <footer id="footer">          
          <section class="{{site.containerClass}}">

	  		<!-- Footer menu -->
	  		<div class="footer-menu">
      			<ul class="footer-menu-box">
      			  	<li><a href="https://github.com/redfrost/Stacks">Download</a></li>
                    <li><a onmouseover="this.style.cursor='pointer'" rel="popover" data-placement="top" data-content="Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the “Software”), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE." title="Copyright &copy; 2013 Redfrost">License</a></li>

      			  	
      			  	<li><a href="index-carousel.html">Carousel</a></li>
      			  	<li><a href="index.html">Main</a></li>
      			  	<li><a href="index-static.html">Static</a></li>
      			  	<li><a href="index-fullwidth.html">Full-width</a></li>
      			  	<li><a onmouseover="this.style.cursor='pointer'" rel="tooltip" data-placement="top" title="V1.4.2">Version</a></li>
      			  	                    
      			  	                    
      			</ul>
      		</div>

	  		<!-- SNS Links -->
      		<div class="sns-icons">
      			<ul class="sns-icons-box">
      				<li><a class="sns-link1" href="{{site.snsAccount.facebook}}"><i class="icon-facebook"></i></a></li>
      				<li><a class="sns-link2" href="{{site.snsAccount.twitter}}"><i class="icon-twitter"></i></a></li>
      				<li><a class="sns-link3" href="{{site.snsAccount.googleplus}}"><i class="icon-google-plus"></i></a></li>
      				<li><a class="sns-link4" href="{{site.snsAccount.youtube}}"><i class="icon-youtube"></i></a></li>
				</ul>
			</div>


          <div class="footer-note">{{site.footerNote}}</div>

		  <div class="copyright-box">
	          <p class="copyright">&copy; {{site.time | date:"%Y"}} {{site.name}}</p>
	          <p class="maker">{{site.designer}}</p>
      	  </div>
          
          <p class="back-top"><a href="#top"><i class="icon-arrow-up"></i> Back To Top</a></p>
          
          </section>
        </footer><!-- /#footer -->
        
	</div><!-- /#master-wrap-->


        <!-- Preloader -->
        <div style="width:200px" class="progress progress-striped active" id="preloader"><div style="width: 100%;" class="bar">LOADING</div></div>           
        
        <div class="bg"></div><!-- BG for iPad -->     

	
	    <!-- Modal Popup - Insert your code -->

		<!-- Main Scripts -->
		<script src="assets/js/modernizr.js"></script><!-- Old Browser Support -->
        <script src="assets/js/jquery.js"></script>
        <script src="assets/js/script.js"></script>
        <script src="assets/js/custom.js"></script>
        

        <!-- Plugins -->
        <script type="text/javascript" src="assets/plugin/prefixfree.js"></script>
        <script type="text/javascript" src="assets/plugin/plugins.js"></script><!-- Smooth Scroll -->
        <script type="text/javascript" src="assets/plugin/wufoo.js"></script><!-- Form control -->
    	<script type="text/javascript" src="assets/plugin/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
    	<script type="text/javascript" src="assets/plugin/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    	<link rel="stylesheet" type="text/css" href="assets/plugin/fancybox/jquery.fancybox-1.3.4.css" media="screen" />


        <!-- Tracking code -->          
        <script>
            var _gaq=[['_setAccount','{{site.trackingId}}'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>    
      
    </body>
</html>
