<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!--
  |~)[~|~\|~|~)/~\(~~|~
  |~\[_|_/|~|~\\_/_) |
  When you look into an abyss, the abyss also looks into you.
  -->

  <!-- Site info -->
  <title>{% if page.title %}{{page.title}} &middot; {% endif %}{{site.name}}</title>
  <meta property="og:title" content="{% if page.title %}{{page.title}} &middot; {% endif %}{{site.name}}" />
  <meta property="og:site_name" content="{{site.name}}" />
  <meta property="og:url" content="{{site.url}}" />
  <meta property="og:description" name="description" content="{{site.description}}" />
  <meta property="og:image" content="{{site.url}}assets/brand/thumbnail.png" />
  <meta name="twitter:card" content="summary"/>{% if site.FacebookAppID == empty %}{% else %}
  <meta property="fb:app_id" content="{{site.FacebookAppID}}" />{% endif %}


  <!-- Author -->
  <meta name="author" content="{{site.siteAuthor}}">
  <meta name="designer" content="{{site.designer}}">
  <meta name="dcterms.rightsHolder" content="(c) {{site.copyright}}">
  <meta name="keywords" content="{{site.keywords}}">


  <!-- Icons -->
  <link rel="shortcut icon" href="{{site.url}}assets/brand/favicon.ico">
  <link rel="apple-touch-icon-precomposed" href="{{site.url}}assets/brand/apple-touch-icon.png">


  <!-- Layout -->{% if site.layout== 'responsive' %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale={{site.mobileZoom}}">{% else %}
  <meta name="viewport" content="width=1025">{% endif %}


  <!-- Styles -->
  <link rel="stylesheet" href="{{site.url}}assets/css/style.css?v{{ site.time | date: '%s' }}">


  {% if site.typekitID == empty %}{% else %}<!-- Typekit -->
  <script type="text/javascript" src="//use.typekit.net/{{site.typekitID}}.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>{% endif %}


  {% if site.testMode == 'on' %}<!-- Test mode -->
  <link rel="stylesheet" href="{{site.url}}assets/css/style-test.css?v{{ site.time | date: '%s' }}">
  <meta name="robots" content="noindex, nofollow">{% endif %}
</head>
