<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<!--
|~)[~|~\|~|~)/~\(~~|~
|~\[_|_/|~|~\\_/_) | 
When you look into an abyss, the abyss also looks into you. 
-->  
     
    	<!-- Site info -->      
        <title>{{site.name}}</title>   
        <meta property="og:title" content="{{site.name}}" />
		<meta property="og:url" content="{{site.url}}" />
        <meta property="og:description" name="description" content="{{site.description}}" />
        <meta property="og:type" content="website" />		
		{% if site.fbAppID == 'no' %}
        {% else %}
		<meta property="fb:app_id" content="{{site.fbAppID}}" />
        {% endif %}
        
        <meta name="author" content="{{site.author}}">
        <meta name="designer" content="{{site.designer}}">
        <meta name="dcterms.rightsHolder" content="(c) {{site.name}}">
        <meta name="keywords" content="{{site.keywords}}"> 
        
        
		<!-- Icons -->
		<link rel="shortcut icon" href="assets/img/favicon.ico">
		<link rel="apple-touch-icon-precomposed" href="assets/img/apple-touch-icon.png">
        <meta property="og:image" content="{{site.url}}assets/img/thumbnail.png" />		
		
				
		<!-- Style -->
		<link rel="stylesheet" href="assets/css/base.css">
        <link rel="stylesheet" href="assets/css/main.css">      
		<link rel="stylesheet" href="assets/css/font-awesome.css">
		<script src="assets/js/modernizr.js"></script>
		

        {% if site.mobileApp == 'yes' %}
    	<!-- Mobile View -->     
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        {% else %}
        {% endif %}
		

    	{% if site.typekitId == empty %}
    	{% else %}
    	<!-- Typekit -->
        <script type="text/javascript" src="//use.typekit.net/{{site.typekitId}}.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    	{% endif %}
                

        <!-- Layout setting --> 
    	{% if site.layoutStyle == 'responsive' %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<style type="text/css">
    	.responsive .container { margin: auto; max-width: {{site.contentWidth}}; }
    	</style>
    	{% else %}
    	<meta name="viewport" content="width=1025">
    	{% endif %}


		<!-- Search Engine Indexing -->     
		{% if site.siteIndexing == 'yes' %}
        <meta name="robots" content="index, follow">
        {% else %}
        <meta name="robots" content="noindex, nofollow">
		{% endif %}
    
</head>
