
  <header class="navbar navbar-default {% if site.topNavbar == 'on' %}navbar-fixed-top{% else %}navbar-standard{% endif %}" role="banner">
    <div class="container">


      <div class="navbar-header">
        <!-- Mobile toggle button -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar top-bar"></span>
          <span class="icon-bar middle-bar"></span>
          <span class="icon-bar bottom-bar"></span>
        </button>

        <!-- Logo -->
        <div class="logo-box">{% if site.logoType == 'image' %}
          <a class="navbar-brand logo-image" href="{{site.url}}"><img alt="{{site.name}}" src="{{site.url}}assets/brand/logo.png" width="{{site.logoWidth}}"></a>{% else %}
          <a class="navbar-brand logo-text" href="{{site.url}}"><strong>{{site.name}}</strong> <small>{{site.slogan}}</small></a>{% endif %}
        </div>
      </div><!-- /.navbar-header -->


      <!-- Navigation -->
      <nav id="navbar-collapse" class="navbar-collapse collapse" role="navigation">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#top">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#pricing">Pricing</a></li>
          <li><a href="#team">Our Team</a></li>
          <li><a href="#contact">Contact</a></li>

          <li class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">Templates <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">Basic Layout</li>
              <li><a href="{{site.url}}demo/layout-bs-default/">Default</a></li>
              <li class="active"><a href="{{site.url}}demo/layout-bs-2sidebars">2 Sidebars</a></li>
              <li><a href="{{site.url}}demo/layout-bs-fullwidth/">Full-width</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Extended Layout</li>
              <li><a href="{{site.url}}demo/layout-ext-sidebar-left/">Sidebar Left</a></li>
              <li><a href="{{site.url}}demo/layout-ext-3columns">3 Columns</a></li>
              <li><a href="{{site.url}}demo/layout-ext-fullscreen/">Full-screen</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Horizontal Layout</li>
              <li><a href="{{site.url}}demo/layout-hor-portfolio/">Horizontal Portfolio</a></li>
              <li><a href="{{site.url}}demo/layout-hor-blog/">Horizontal Blog</a></li>
              <li><a href="{{site.url}}demo/layout-hor-app/">Horizontal App</a></li>
            </ul>
          </li>

        </ul>
      </nav><!--/.nav-collapse -->


    </div><!-- /.container -->
  </header>
