
<!-- Partners -->
<section id="partners" class="section-block full-bg">
	<div class="container">
		<div class="row">

			<div class="page-header text-center">
			  <h2>Our Partners</h2>
			  <p class="lead">Cool People Who Support Us</p>
			</div><!-- /.page-header-->

			<ul class="partner-list">

				<li>
					<img src="{{site.url}}assets/img/partners_01.jpg" class="img-responsive" alt="partners" >
				</li>

				<li>
					<img src="{{site.url}}assets/img/partners_02.jpg" class="img-responsive" alt="partners" >
				</li>

				<li>
					<img src="{{site.url}}assets/img/partners_03.jpg" class="img-responsive" alt="partners" >
				</li>

				<li>
					<img src="{{site.url}}assets/img/partners_04.jpg" class="img-responsive" alt="partners" >
				</li>

				<li>
					<img src="{{site.url}}assets/img/partners_05.jpg" class="img-responsive" alt="partners" >
				</li>

				<li>
					<img src="{{site.url}}assets/img/partners_06.jpg" class="img-responsive" alt="partners" >
				</li>

			</ul>


		</div><!-- /.row -->
	</div><!-- /.container -->
</section>