
<!-- Partners -->
<section id="partners" class="section-block full-bg">
	<div class="container">
		<div class="row">

			<div class="page-header text-center">
			  <h2>Our Partners</h2>
			  <p class="lead">Cool People Who Support Us</p>
			</div><!-- /.page-header-->


			<div class="partner-list">

				<div class="col-xs-6 col-md-2">
					<img src="{{site.url}}assets/img/partners_01.jpg" class="thumbnail img-responsive" alt="partners" >
				</div>

				<div class="col-xs-6 col-md-2">
					<img src="{{site.url}}assets/img/partners_02.jpg" class="thumbnail img-responsive" alt="partners" >
				</div>

				<div class="col-xs-6 col-md-2">
					<img src="{{site.url}}assets/img/partners_03.jpg" class="thumbnail img-responsive" alt="partners" >
				</div>

				<div class="col-xs-6 col-md-2">
					<img src="{{site.url}}assets/img/partners_04.jpg" class="thumbnail img-responsive" alt="partners" >
				</div>

				<div class="col-xs-6 col-md-2">
					<img src="{{site.url}}assets/img/partners_05.jpg" class="thumbnail img-responsive" alt="partners" >
				</div>

				<div class="col-xs-6 col-md-2">
					<img src="{{site.url}}assets/img/partners_06.jpg" class="thumbnail img-responsive" alt="partners" >
				</div>

			</div><!-- /.partner-list -->


		</div><!-- /.row -->
	</div><!-- /.container -->
</section>