<section class="hero-unit jumbotron masthead">
    <div class="container">
		<div class="row">
			<div class="col-sm-12">
	            <h1>Simple <span class="goudy">&amp;</span> <span class="lighter">Intuitive</span></h1>
	            <p class="light">Minimalistic Website Theme Created for<br>Creative individuals and Startups</p>
	            <p><a class="btn btn-danger btn-large fancybox video" href="{{site.videoLink}}">Quick Tour &raquo;</a></p>
	        </div>
        </div>
    </div>
</section>