<section id="services">
	<div class="container">
		<div class="row">

		<div class="col-sm-12">
			<h2 class="light text-centre">Services</h2>
			<p class="byline text-centre">Pellentesque ornare sem</p>
			</div><!-- /.col-sm-12 -->
		</div><!-- /.row -->

		<div class="row">
			<div class="col-sm-4">
				<div class="service-box">
					<img src="assets/img/image_02.jpg" alt="" />
					<div class="service-box-text">
						<h3>Service One</h3>
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum.</p>
					</div>
				</div><!-- /.service-box -->
			</div><!-- /.col-sm-4 -->

			<div class="col-sm-4">
				<div class="service-box">
					<img src="assets/img/image_03.jpg" alt="" />
					<div class="service-box-text">
						<h3>Service Two</h3>
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum.</p>
					</div>
				</div><!-- /.serivce-box -->
			</div><!-- /.col-sm-4 -->

			<div class="col-sm-4">
				<div class="service-box">
					<img src="assets/img/image_04.jpg" alt="" />
					<div class="service-box-text">
						<h3>Service Three</h3>
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum.</p>
					</div>
				</div><!-- /.serivce-box -->
			</div><!-- /.col-sm-4 -->

		</div><!-- /.row -->
	</div><!-- /.container -->
</section>