<section id="pricing" class="full-bg">
	<div class="container">
		<div class="row">

			<h2 class="light text-center">Pricing</h2>
			<p class="byline text-center">Praesent commodo cursus magna</p>
			<p>&nbsp;</p>

			<div class="col-sm-6 col-md-3">
				<div class="pricelist well">
					<div class="price-title"><h3>Starter</h3></div>
					<ul class="tick-box fade-hover">
						<li><i class="fa fa-check"></i> HTML5 support</li>
						<li><i class="fa fa-check"></i> CSS3 animation</li>
						<li><i class="fa fa-check"></i> Fast support</li>
					</ul>
					<div class="price-number"><h4>$99.95</h4></div>
					<a href="#" class="btn btn-success">Subscribe</a>
				</div><!-- /.pricelist -->
			</div><!-- /.col-sm-3 -->

			<div class="col-sm-6 col-md-3">
				<div class="pricelist well">
					<div class="price-title"><h3>Basic</h3></div>
					<ul class="tick-box fade-hover">
						<li><i class="fa fa-check"></i> HTML5 support</li>
						<li><i class="fa fa-check"></i> CSS3 animation</li>
						<li><i class="fa fa-check"></i> Fast support</li>
					</ul>
					<div class="price-number"><h4>$199.95</h4></div>
					<a href="#" class="btn btn-success">Subscribe</a>
				</div><!-- /.pricelist -->
			</div><!-- /.col-sm-3 -->

			<div class="col-sm-6 col-md-3">
				<div class="pricelist well bestseller">
					<div class="price-title"><h3>Professional</h3></div>
					<ul class="tick-box fade-hover">
						<li><i class="fa fa-check"></i> HTML5 support</li>
						<li><i class="fa fa-check"></i> CSS3 animation</li>
						<li><i class="fa fa-check"></i> Fast support</li>
					</ul>
					<div class="price-number"><h4>$299.95</h4></div>
					<a href="#" class="btn btn-danger">Subscribe</a>
				</div><!-- /.pricelist -->
			</div><!-- /.col-sm-3 -->

			<div class="col-sm-6 col-md-3">
				<div class="pricelist well">
					<div class="price-title"><h3>Enterprise</h3></div>
					<ul class="tick-box fade-hover">
						<li><i class="fa fa-check"></i> HTML5 support</li>
						<li><i class="fa fa-check"></i> CSS3 animation</li>
						<li><i class="fa fa-check"></i> Fast support</li>
					</ul>
					<div class="price-number"><h4>$699.95</h4></div>
					<a href="#" class="btn btn-success">Subscribe</a>
				</div><!-- /.pricelist -->
			</div><!-- /.col-sm-3 -->

		</div><!-- /.row -->
	</div><!-- /.container -->
</section>