<section class="hero-unit jumbotron masthead">
    <div class="{{site.containerClass}}">           
		<div class="{{site.rowClass}}"> 
			<div class="span12">  
	            <h1>Simple <span class="lighter">&amp; Intuitive</span></h1>
	            <p class="light">Minimalistic Website Theme Created for<br>Creative individuals and Startups</p>
	            <p><a class="btn btn-info btn-large fancybox video" href="{{site.videoLink}}">Quick Tour &raquo;</a></p>
	        </div>    
        </div>     
    </div>    	
</section>