<section id="team">
	<div class="container">

		<h2 class="light text-center">Our Team</h2>
		<p class="byline text-center">Praesent commodo cursus magna</p>

		<div class="row">

			<ul class="team-list">

				<li>
					<a onmouseover="this.style.cursor='pointer'" data-toggle="tooltip" data-placement="bottom" title="Angela Baby | CEO">
					<img src="assets/img/face01.jpg" alt="Angela Baby" >
					</a>
				</li>

				<li>
					<a onmouseover="this.style.cursor='pointer'" data-toggle="tooltip" data-placement="bottom" title="Kevin Bright | CTO">
					<img src="assets/img/face02.jpg" data-placement="bottom" alt="Kevin Bright">
					</a>
				</li>

				<li>
					<a onmouseover="this.style.cursor='pointer'" data-toggle="tooltip" data-placement="bottom" title="Avril Lavigne | Art Director">
					<img src="assets/img/face03.jpg" data-placement="bottom" alt="Avril Lavigne">
					</a>
				</li>

				<li>
					<a onmouseover="this.style.cursor='pointer'" data-toggle="tooltip" data-placement="bottom" title="Susan Whibley | Marketing Manager">
					<img src="assets/img/face04.jpg" data-placement="bottom" alt="Susan Whibley">
					</a>
				</li>

				<li>
					<a onmouseover="this.style.cursor='pointer'" data-toggle="tooltip" data-placement="bottom" title="Kevin Bright | Designer">
					<img src="assets/img/face05.jpg" data-placement="bottom" alt="Kevin Bright">
					</a>
				</li>

				<li>
					<a onmouseover="this.style.cursor='pointer'" data-toggle="tooltip" data-placement="bottom" title="Jane Ponda | Designer">
					<img src="assets/img/face06.jpg" data-placement="bottom" alt="Frank Chiu">
					</a>
				</li>

				<li>
					<a onmouseover="this.style.cursor='pointer'" data-toggle="tooltip" data-placement="bottom" title="Adam Smith | QC">
					<img src="assets/img/face07.jpg" data-placement="bottom" alt="Adam Smith">
					</a>
				</li>

				<li>
					<a onmouseover="this.style.cursor='pointer'" data-toggle="tooltip" data-placement="bottom" title="Alex Founder | Developer">
					<img src="assets/img/face08.jpg" data-placement="bottom" alt="Alex Founder">
					</a>
				</li>

				<li>
					<a onmouseover="this.style.cursor='pointer'" data-toggle="tooltip" data-placement="bottom" title="Julia Lullaby | Accountant">
					<img src="assets/img/face09.jpg" data-placement="bottom" alt="Julia Lullaby">
					</a>
				</li>

				<li>
					<a onmouseover="this.style.cursor='pointer'" data-toggle="tooltip" data-placement="bottom" title="Ruby Haraway | Music Director">
					<img src="assets/img/face10.jpg" data-placement="bottom" alt="Ruby Haraway">
					</a>
				</li>

				<li>
					<a onmouseover="this.style.cursor='pointer'" data-toggle="tooltip" data-placement="bottom" title="Susan Spears | QA">
					<img src="assets/img/face11.jpg" data-placement="bottom" alt="Susan Spears">
					</a>
				</li>

				<li>
					<a onmouseover="this.style.cursor='pointer'" data-toggle="tooltip" data-placement="bottom" title="Angela Baby | Developer">
					<img src="assets/img/face12.jpg" data-placement="bottom" alt="Angela Baby">
					</a>
				</li>

			</ul>


		</div>
	</div>
</section>