<section class="hero-unit carousel-section masthead">

	<div id="myCarousel" class="carousel slide carousel-fade">

		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
			<li data-target="#myCarousel" data-slide-to="3"></li>
		</ol>

		<div class="carousel-inner">

			<div class="item active">
				<div class="bannerImage">
					<a href="#"><img src="assets/img/banner_01.jpg" alt=""></a>
				</div>
			</div><!-- /Slide1 -->

			<div class="item">
				<div class="bannerImage">
					<a href="#"><img src="assets/img/banner_02.jpg" alt=""></a>
				</div>
			</div><!-- /Slide2 -->

			<div class="item">
				<div class="bannerImage">
					<a href="#"><img src="assets/img/banner_03.jpg" alt=""></a>
				</div>
			</div><!-- /Slide3 -->

			<div class="item">
				<div class="bannerImage">
					<a href="#"><img src="assets/img/banner_04.jpg" alt=""></a>
				</div>
			</div><!-- /Slide4 -->

		</div><!-- carousel-inner -->


		<div class="control-box">
			<a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="fa fa-chevron-right"></i></a>
		</div><!-- /.control-box -->

	</div><!-- /#myCarousel -->

</section><!-- /.carousel-section -->