        <header class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="{{site.containerClass}}">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>


                    <!-- Logo Image -->
                    {% if site.logoType == 'image' %}            
                    <h1>
                    <a class="brand logo-image" href="{{site.url}}">
        			<img alt="{{site.name}}" src="assets/img/logo.png">
        			</a>
        			</h1>          
                    {% else %}
                    <!-- Logo -->
                    <h1>
                    <a class="brand" href="{{site.url}}"><i class="icon-reorder"></i> Stacks</a>
                    </h1>
                    {% endif %}

                    
                    <!-- Navigation -->
                    <nav class="nav-collapse collapse">
                        <ul class="nav">
	                        <li class="active"><a href="#top">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#services">Services</a></li>                                                                               
                            <li><a href="#pricing">Pricing</a></li> 
                            <li><a href="#team">Our Team</a></li> 
                            <li><a href="#contact">Contact</a></li>                            
                        </ul>
                        
                        
                    </nav><!--/.nav-collapse -->
                </div>
            </div>
        </header><!-- /.navbar -->