<section id="partners" class="full-bg">
	<div class="container">
		<div class="row">

			<h2 class="light text-center">Our Partners</h2>
			<p class="byline text-center">Cool People Who Support Us</p>
			<p>&nbsp;</p>

			<ul class="partner-list">

				<li>
					<img src="assets/img/partners_01.jpg" alt="partners" >
				</li>

				<li>
					<img src="assets/img/partners_02.jpg" alt="partners" >
				</li>

				<li>
					<img src="assets/img/partners_03.jpg" alt="partners" >
				</li>

				<li>
					<img src="assets/img/partners_04.jpg" alt="partners" >
				</li>

				<li>
					<img src="assets/img/partners_05.jpg" alt="partners" >
				</li>

				<li>
					<img src="assets/img/partners_06.jpg" alt="partners" >
				</li>

			</ul>


		</div><!-- /.row -->
	</div><!-- /.container -->
</section>